/*------------------SIGN IN PAGE-----------------*/
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 30% 30%, #ffecd2, transparent 40%),
              radial-gradient(circle at 70% 40%, #fcb69f, transparent 40%),
              radial-gradient(circle at 60% 70%, #a1c4fd, transparent 50%),
              radial-gradient(circle at 40% 60%, #c2e9fb, transparent 40%),
              radial-gradient(circle at 50% 50%, #d4a5ff, transparent 60%),
              #000;
}
.fix_part_mobile {
  display: none;
}
.fix_part_desktop {
  display: flex;
}
.for_signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign_in {
  height: clamp(30em, 72vh, 90em);
  width: clamp(10em, 40vw, 80em);
  align-items: center;
  flex: 2;
  background: transparent;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#sign_up {
  height: clamp(30em, 72vh, 90em);
  width: clamp(5em, 25vw, 50em);
  align-items: center;
  flex: 1;
  background: transparent;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.body1,.body2,.body2_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2vw;
  text-align: center;
}

#signup-span ,.signup-span_mobile{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* margin-top: -20px; */
}

#signin_facebook,#signin_facebook_mobile,#signin_google,#signin_google_mobile,#signin_twitter,#signin_twitter_mobile {
  background-size: cover;
  border-radius: 50%;
  height: clamp(2rem, 3vw, 8rem);
  width: clamp(2rem, 3vw, 8rem);
  margin-left: 20px;
  display: inline-block;
}

#signin_facebook,#signin_facebook_mobile {
  background-image: url(facebook.png);
  background-size: cover;
  transition-duration: 0.4s;
}
#signin_facebook:hover {
  background-image: url(facebook-white.png);
  background-size: cover;
}
#signin_facebook_mobile:hover {
  background-image: url(facebook-white.png);
  background-size: cover;
}
#signin_google,#signin_google_mobile {
  background-image: url(social.png);
  background-size: cover;
  transition-duration: 0.4s;
}
#signin_google:hover {
  background-image: url(letter-g.png);
  background-size: cover;
}
#signin_google_mobile:hover {
  background-image: url(letter-g.png);
  background-size: cover;
}
#signin_twitter,#signin_twitter_mobile {
  background-image: url(twitter.png);
  background-size: cover;
  transition-duration: 0.4s;
}
#signin_twitter:hover {
  background-image: url(twitter-white.png);
  background-size: cover;
}
#signin_twitter_mobile:hover {
  background-image: url(twitter-white.png);
  background-size: cover;
}

.sign_in_body ,.sign_in_body_mobile {
  margin-top: 0;
  font-size: clamp(1rem, 4vw, 8rem);
  text-align: center;
  color: rgb(147, 58, 86);
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.sign_in_p, .sign_in_p_mobile {
  font-size: clamp(0.5rem, 1.3vw, 3rem);
  color: #1d0840;
}

.sign_in_inside,.sign_in_inside_mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  margin: 0 auto;
  padding: 1rem;
  background: transparent;
  border: 1px solid rgba(204, 141, 141, 0.943);
  justify-content: center;
  align-items: center;
}

.sign_in_button,.sign_in_button_mobile {
  margin-top: 2vw;
  margin-bottom: 2vw;
  border-radius: 30px;
  font-size: clamp(0.8rem, 1.1vw, 4rem);
  height: clamp(2rem, 3vw, 7rem);
  width: clamp(5rem, 14vw, 50rem);
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  transition: background-color 0.6s ease;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}
.sign_in_button:hover {
  background-color: white;
  color: black;
}
.sign_in_button_mobile:hover {
  background-color: white;
  color: black;
}

.sign_up_button,.sign_up_button1 {
  margin-top: 2vw;
  border-radius: 30px;
  font-size: clamp(0.8rem, 1.1vw, 4rem);
  height: clamp(2rem, 3vw, 7rem);
  width: clamp(5rem, 9vw, 50rem);
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  transition: background-color 0.6s ease;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
.sign_up_button:hover {
  background-color: white;
  color: black;
}
.sign_up_button1:hover {
  background-color: white;
  color: black;
}
.forgot_password {
  text-decoration: none;
  color: rgb(136, 25, 7);
  font-size: clamp(0.5rem, 1vw, 4rem);
}
.forgot_password_mobile {
  text-decoration: none;
  color: rgb(136, 25, 7);
  font-size: clamp(0.5rem, 1.8vw, 5rem);
}

.input-group,.input-group_mobile {
    position: relative;
    margin: clamp(0rem, 0.9vw, 3rem);
    border-bottom: 2px solid #b53030;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: clamp(0.5rem, 2vw, 1rem);
    color: #bc1414;
    pointer-events: none;
    transition-duration: 0.3s;
}
.input-group_mobile label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: clamp(0.5rem, 2vw, 1rem);
    color: #bc1414;
    pointer-events: none;
    transition-duration: 0.3s;
}

.input-group input {
    width: clamp(10rem, 20vw, 30rem);
    height: clamp(1rem, -1vw, 5rem);
    font-size: 16px;
    color: #e30000;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
}
.input-group_mobile input {
    width: clamp(10rem, 20vw, 30rem);
    height: clamp(1rem, -1vw, 5rem);
    font-size: 16px;
    color: #e30000;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -5px;
    font-size: 12px;
    color: #bc1414;
}
.input-group_mobile input:focus + label,
.input-group_mobile input:valid + label {
    top: -5px;
    font-size: 12px;
    color: #bc1414;
}


/*------------------SIGN UP PAGE-----------------*/

.for_signup {
  display: none;
  justify-content: center;
  align-items: center;
}

#sign_up1,#sign_up1_mobile {
  height: clamp(30em, 72vh, 90em);
  width: clamp(10em, 40vw, 80em);
  align-items: center;
  flex: 2;
  background-color: yellow;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: transparent;
  /* backdrop-filter: blur(5px); */
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
}

#sign_in1 {
  height: clamp(30em, 72vh, 90em);
  width: clamp(5em, 25vw, 50em);
  align-items: center;
  flex: 1;
  background-color: green;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: transparent;
  backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2);
}

.sign_in_button1,.sign_in_button1_mobile {
  margin-bottom: 2vw;
  border-radius: 30px;
  font-size: clamp(0.8rem, 1.1vw, 4rem);
  height: clamp(2rem, 3vw, 7rem);
  width: clamp(5rem, 14vw, 50rem);
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  transition: background-color 0.6s ease;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}
.sign_in_button1:hover {
  background-color: white;
  color: black;
}
.sign_in_button1_mobile:hover {
  background-color: white;
  color: black;
}
/*--============================For Mobile============================--*/

/*------------------SIGN IN PAGE-----------------*/

@media (max-width: 750px) {
  .fix_part_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .body2_mobile {
    display: none;
  }
  .fix_part_desktop {
    display: none;
  }
  body {
    height: 100vh;
    background: radial-gradient(circle at 30% 30%, #ffecd2, transparent 40%),
                radial-gradient(circle at 70% 40%, #fcb69f, transparent 40%),
                radial-gradient(circle at 60% 70%, #a1c4fd, transparent 50%),
                radial-gradient(circle at 40% 60%, #c2e9fb, transparent 40%),
                radial-gradient(circle at 50% 50%, #d4a5ff, transparent 60%),
                #000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .fix_part1 {
    background-color: transparent;
    height: clamp(50px, 1vh, 200px);
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 200px;
    border-top-right-radius: 20px;
    text-align: center;
  }
  .fix_part1 a {
    text-decoration: none;
  }
  .fix_part2 {
    background-color: rgb(135, 97, 97);
    height: 80vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background: transparent;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.2),
                8px 8px 20px rgba(0, 0, 0, 0.2);
  }
  .fix_part1_signin {
    background: transparent;
    box-shadow: 8px -8px 20px rgba(0, 0, 0, 0.2);
    color: #1d5c58;
    background-color: #976464;
    border-top-left-radius: 20px;
    height: 7vh;
    width: 45vw;
    font-size: clamp(20px, 3.5vw, 25px);
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
    border-right: solid 2px rgba(255, 255, 255, 0.2);
    margin-top: -2%;
  }
  .fix_part1_signin:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .fix_part1_signup {
    background: transparent;
    box-shadow: -8px -8px 20px rgba(0, 0, 0, 0.2);
    color: #1d5c58;
    border-top-right-radius: 20px;
    height: 7vh;
    width: 45vw;
    font-size: clamp(20px, 3.5vw, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2%;
  }
  .fix_part1_signup:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .for_signin_mobile {
    flex-direction: column;
    text-align: center;
    display: flex;
  }
  .sign_in_body_mobile {
    font-size: 7.7vw;
    text-align: center;
  }
  .sign_in {
    height: auto;     
    width: 100%;      
    box-shadow: none; 
    border-radius: 0; 
    backdrop-filter: none; 
    flex: none; 
  }
  #signin_facebook_mobile,#signin_google_mobile,#signin_twitter_mobile {
    background-size: cover;
    border-radius: 50%;
    height: clamp(1.9rem, 5vw, 8rem);
    width: clamp(1.9rem, 5vw, 8rem);
    margin-left: 20px;
    display: inline-block;
  }
  .sign_in_p_mobile {
    font-size: clamp(0.9rem, 2vw, 3rem);
  }
  .sign_in_inside_mobile {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(1.9rem, 45vw, 25rem);
    margin: 0 auto;
    padding: 1rem;
    background: transparent;
    border: 1px solid rgba(204, 141, 141, 0.943);
    justify-content: center;
    align-items: center;
  }
  .input-group_mobile input {
    width: clamp(10rem, 40vw, 30rem);
    height: clamp(1rem, -1vw, 5rem);
  }
  .forgot_password_mobile {
    font-size: clamp(0.5rem, 1.5vw, 4rem);
  }
  .input-group_mobile label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: clamp(0.5rem, 4vw, 1rem);
    color: #bc1414;
    pointer-events: none;
    transition-duration: 0.3s;
  }


/*------------------SIGN UP PAGE-----------------*/
  #sign_up1_mobile {
    height: clamp(30em, 79vh, 90em);
    border-top-right-radius: 0px;
    z-index: 2;
  }
  .fix_part1 {
    z-index: 1;
  }

}